<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>    
    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""
    />
    <link
            href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
</head>
<body>
<header>
    <div class="inner">
        <h1>Soccer - Performance and Money</h1>
    </div>
</header>
<div class="container">
    <div class="side-wrapper">
        <div class="sidebar">
            <h2>Dashboard</h2>
            <div class="filters">
                <h4>League</h4>
                <select class="dd-country" id="selDataset" onchange="optionChanged()">
                    <option selected>All</option>
                </select>
                <h4>Club</h4>
                <select class="dd-country" id="selDataset1" onchange="teamoptionChanged(this.value)">
                    <option selected>Select a League</option>
                </select>
            </div>
        </div>
        <div class="sidebar">
            <div class="summary">
                <h2>Team Summary</h2>
                <h4>Market Value in €</h4>
                <p id="value"></p>
                <h4>Total Points</h4>
                <p id="points"></p>
                <h4>Average Points per Game</h4>
                <p id="ptspergame"></p>
                <h4>Matches Played</h4>
                <p id="matches"></p>
                <h4>Games Won</h4>
                <p id="won"></p>
                <h4>Games Drawn</h4>
                <p id="drawn"></p>
                <h4>Games Lost</h4>
                <p id="lost"></p>
            </div>
        </div>
    </div>
    <main>
        <div class="chart-box">
            <div id="bubble"></div>
            <canvas id="myChart" style="width: 100%; max-height: 100px"></canvas>
          
        </div>
        <div class="map-bar-box">
            <div class="map-box">
                <div id="barbar"></div>
                <h2>hello</h2>
                <canvas id="map" style="width: 100%; height: 300px"></canvas>                
            </div>
            <div class="bar-box">
                <div id="tabletable"></div>
                <canvas id="canvas" style="width: 100%; height: 300px"></canvas>
            </div>
        </div>
    </main>
</div>
</div>
<script
        src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""
></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>


//Creating league dropdown list   
    let selector = d3.select("#selDataset");
    d3.json('/allleagues').then(data => {        
        data.forEach(sample => {                   
            selector
                .append('option')
                .text(sample)
                .property('value', sample);      
        });
    });


// Creating club dropdown list
    let selector1 = d3.select("#selDataset1")
    function selectorClub(leaguedata) {        
        d3.json('/alldata').then(data => {            
            clubleague = data.filter(data => data.country === leaguedata);
            clubList = clubleague.map(club => club.club);
            selector1.html("")
            clubList.forEach(sample => {
                selector1
                    .append('option')                    
                    .text(sample)
                    .property('value', sample);
            });
        })
    };
     
    
// Creating an event function
    function optionChanged() {
        let leaguedata = document.getElementById("selDataset").value;       
        if (leaguedata !== 'All') {
            d3.json('/alldata').then(data => {
                let filtered = data.filter(sample => sample.country === leaguedata);                
                selectorClub(leaguedata);                
                bubbleChart(filtered);
                tableFunction(filtered)          
            })                       
        }
        if (leaguedata == 'All') {
            d3.json('/alldata').then(data => {
                let allcountries = data;               
                bubbleAll(allcountries);
            });
        };
    };

 
// Creating the league tables
    function tableFunction(filtered) {      // filtered is a javascript object of the teams in the selected league  
        let tablebuilder = document.getElementById('tabletable');
        let tablestructure = document.createElement('table');
        let tablebody = document.createElement('tbody');
        let rowLength = Object.keys(filtered).length; // Returns the number of teams in a league
        let first_row = filtered[0]
        let keys = Object.keys(first_row) // Returns an array of keys
        let columnLength = keys.length
        for (let i=0; i<rowLength; i++) {
            let row = document.createElement('tr');
            let rowvalue = filtered[i]
            for (let j=0; j<columnLength; j++) {
                let cell = document.createElement('td');
                let key = keys[j];
                let value = document.createTextNode(rowvalue[key]);
                console.log(value)
                cell.appendChild(value);
                row.appendChild(cell);
            }
            tablebody.appendChild(row);
            }    
            tablestructure.appendChild(tablebody);
            tablebuilder.appendChild(tablestructure)
        }
    

// Creating the side menu
    function teamoptionChanged(selectedClub) {
        d3.json('./alldata').then(data => {
            let club = data.filter(club => club.club === selectedClub) // data.filter creates a new array
            document.getElementById('value').textContent = club[0].market_value
            document.getElementById('points').textContent = club[0].pts
            document.getElementById('ptspergame').textContent = club[0].pts_per_match
            document.getElementById('matches').textContent = club[0].pl
            document.getElementById('won').textContent = club[0].w
            document.getElementById('drawn').textContent = club[0].d
            document.getElementById('lost').textContent = club[0].l
        })
     
    }


// Creating a bubble chart for selected leagues
    function bubbleChart(filtered) {
        let x = filtered.map(a => a.pts_per_match);
        let y = filtered.map(a => Number((a.w)/(a.l)).toFixed(2));
        let text = filtered.map(a => a.club + '<br>Market Value: ' + a.market_value);
        let size = filtered.map(a => (a.market_value)/5000000);       
        let data = [{
            x: x,
            y: y,
            mode: 'markers',
            marker: {
                size: size,
                color: 'blue'
            },
            text: text
        }];
        let layout = {
            title: 'Bubble Chart: Value and Performance',
            font: {
                family: 'Arial',
                size:24
            },
            xaxis: {
                title: 'Average Points Won per Match',
                font: {
                    family: 'Arial',
                    size: 18
                }
            },
            yaxis: {
                title: 'Win:Loss Ratio',
                font: {
                    family: 'Arial',
                    size: 18
                }
            }
        };
        let config = {
            responsive: true
        };     
        Plotly.newPlot('bubble', data, layout, config);
    };     


// Creating a bubble chart for all leagues
        function bubbleAll(allcountries) {
        let leagues = [...new Set(allcountries.map(a => a.league))]; //create a SET of leagues and then convert it to a list by using '[...]'
        let colors = ["#cd6155", "#9b59b6", "#5dade2", "#48c9b0", "#f4d03f", "#8f39c12", "#85c1e9", "#aab7b8", "#d7bde2", "#935116", "#e6b0aa"];
        let x = allcountries.map(a => a.pts_per_match);        
        let y = allcountries.map(a => Number((a.w)/(a.l)).toFixed(2));
        let text = allcountries.map(a => a.club + '<br>Market Value: ' + a.market_value);
        let size = allcountries.map(a => (a.market_value)/5000000);       
        let data = [{
            x: x,
            y: y,
            mode: 'markers',
            marker: {
                size: size,
                color: allcountries.map(a => colors[leagues.indexOf(a.league)]) //get the index of a.league from the list 'leagues' and return the corresponding colors from the 'colors' list
            },
            text: text
        }];
        let layout = {
            title: 'Bubble Chart: Value and Performance',
            font: {
                family: 'Arial',
                size: 24
            },
            xaxis: {
                title: 'Average Points Won per Match',
                font: {
                    family: 'Arial',
                    size: 18
                }
            },
            yaxis: {
                title: 'Win:Loss Ratio',
                font: {
                    family: 'Arial',
                    size: 18
                }
            },
            showlegend: true
        };
        let config = {
            responsive: true
        };        
        Plotly.newPlot('bubble', data, layout, config);
    };

</script>
</body>
</html>