<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>    
    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""
    />
    <link
            href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}"/>
    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script> -->
</head>
<style>
    .bar-box {
        border-collapse: collapse !important;
        font-size: 1.4em !important;
        min-width: 400px !important;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .bar-box thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }
    .bar-box th,
    .bar-box td{
        padding: 12px 15px;
    }
    .bar-box tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    .bar-box tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    .bar-box tbody tr:last-of-type {
        border-bottom: 2px solid #009879 !important;
    }
    .bar-box tbody tr.active-row {
        font-weight: bold;
        color: #009879
    }
</style>
<body>
<header>
    <div class="inner">
        <h1>Soccer - Performance and Money</h1>
    </div>
</header>
<div class="container">
    <div class="side-wrapper">
        <div class="sidebar">
            <h2>Dashboard</h2>
            <div class="filters">
                <h4>League</h4>
                <select class="dd-country" id="selDataset" onchange="optionChanged()">
                    <option selected>Select a League</option>
                </select>
                <h4>Club</h4>
                <select class="dd-country" id="selDataset1" onchange="teamoptionChanged(this.value)">
                    <option selected>Select a League</option>
                </select>
            </div>
        </div>
        <div class="sidebar">
            <div class="summary">
                <h2>Team Summary</h2>
                <h4>Market Value in €</h4>
                <p id="value"></p>
                <h4>Total Points</h4>
                <p id="points"></p>
                <h4>Average Points per Game</h4>
                <p id="ptspergame"></p>
                <h4>Matches Played</h4>
                <p id="matches"></p>
                <h4>Games Won</h4>
                <p id="won"></p>
                <h4>Games Drawn</h4>
                <p id="drawn"></p>
                <h4>Games Lost</h4>
                <p id="lost"></p>
            </div>
        </div>
    </div>
    <main>
        <div class="chart-box">
            <div id="bubble"></div>
            <canvas id="myChart" style="width: 100%; max-height: 100px"></canvas>
            <!-- margin-top:200px; -->
        </div>
        <div class="map-bar-box">
            <div class="map-box">
                <div id="barbar", style="text-align:center;"></div>
                <div id="barbar2", style="text-align:center;"></div>
                <canvas id="map" style="width: 100%; height: 300px"></canvas>                
            </div>
            <div class="bar-box">
                <div id="tabletable"></div>
                <canvas id="canvas" style="width: 100%; height: 300px"></canvas>
            </div>
        </div>
    </main>
</div>
</div>
<script
        src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""
></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>


//Creating league dropdown list   
    let selector = d3.select("#selDataset");
    d3.json('/allleagues').then(data => {        
        data.forEach(sample => {                   
            selector
                .append('option')
                .text(sample)
                .property('value', sample);      
        });
    });


// Creating club dropdown list
    let selector1 = d3.select("#selDataset1")
    function selectorClub(leaguedata) {        
        selector1.html("") // clear the dropdown
        selector1.append("option") // add "Select a Club" option
            .text("Select a Club")
            .attr("value", "Select a Club")
            .attr("selected", true);
        d3.json('/alldata').then(data => {            
            clubleague = data.filter(data => data.country === leaguedata);
            clubList = clubleague.map(club => club.club);
            clubList.forEach(sample => {
                selector1
                    .append('option')                    
                    .text(sample)
                    .property('value', sample);
            });
        })
    };   
    

// Function to clear out the side menu
    function clearSideMenu() {
        document.getElementById('value').textContent = '';
        document.getElementById('points').textContent = '';
        document.getElementById('ptspergame').textContent = '';
        document.getElementById('matches').textContent = '';
        document.getElementById('won').textContent = '';
        document.getElementById('drawn').textContent = '';
        document.getElementById('lost').textContent = '';
}


// Function optionChanged
    function optionChanged() {
         let leaguedata = document.getElementById("selDataset").value;
            if (leaguedata !== 'All') {
                d3.json('/alldata').then(data => {
                let filtered = data.filter(sample => sample.country === leaguedata);
                selectorClub(leaguedata);
                bubbleChart(filtered);
                tableFunction(filtered);
                clearSideMenu();
                clearBarChart();
                });
            }
            else {
                d3.json('/alldata').then(data => {
                let allcountries = data;
                bubbleAll(allcountries);
                clearSideMenu();
                clearBarChart();
            });
            }
        };


// Function to clear out existing bar chart when a league is selected
    function clearBarChart() {
        Plotly.purge('barbar');
        Plotly.purge('barbar2');
};


// Creating a table
    function tableFunction(filtered) {      // filtered is a javascript object of the teams in the selected league  
    let tableReset = d3.select('#tabletable');
    tableReset.html('');

    let tablebuilder = document.getElementById('tabletable');
    let tablestructure = document.createElement('table');
    let tablehead = document.createElement('thead');
    let tablebody = document.createElement('tbody');

    let headers = ['Club', 'Value in €', 'Played', 'Win', 'Draw', 'Lose', 'Points']
    let headerLength = headers.length
    let headerContent = ['club', 'market_value', 'pl', 'w', 'd', 'l', 'pts']

    let headerRow = document.createElement('tr');
    for (let k=0; k<headerLength; k++) {
        let headerHeader = document.createElement('th');
        let headerValue = document.createTextNode(headers[k]);
        headerHeader.appendChild(headerValue);
        headerRow.appendChild(headerHeader);
    }

    headerRow.querySelectorAll('th').forEach((cell, index) => {
        cell.addEventListener('click', () => {
            sortTable(index);
        });
    });

    tablehead.appendChild(headerRow);
    tablestructure.appendChild(tablehead);

    let rowLength = Object.keys(filtered).length; // Returns the number of teams in a league
    for (let i=0; i<rowLength; i++) {
        let row = document.createElement('tr');
        let rowvalue = filtered[i];
        for (let j=0; j<headerLength; j++){
            let headKey = headerContent[j];
            let cell = document.createElement('td');
            let value = document.createTextNode(rowvalue[headKey]);
            cell.appendChild(value);
            row.appendChild(cell);
        }
        tablebody.appendChild(row);
    }
    tablestructure.appendChild(tablebody);
    tablebuilder.appendChild(tablestructure);

    function sortTable(columnIndex) {
        let rows = document.querySelectorAll('tbody tr');
        let sortedRows = Array.from(rows);

        sortedRows.sort((rowA, rowB) => {
            let cellA = rowA.querySelectorAll('td')[columnIndex].textContent;
            let cellB = rowB.querySelectorAll('td')[columnIndex].textContent;
            if (columnIndex === 0) {
                return cellA.localeCompare(cellB); // Sort by club name alphabetically
            } else {
                return parseInt(cellB) - parseInt(cellA); // Sort by numerical value of the other columns
            }
        });

        let tableBody = document.querySelector('tbody');
        tableBody.innerHTML = '';
        sortedRows.forEach(row => {
            tableBody.appendChild(row);
        });
    }
};

    
// Creating the side menu
    function teamoptionChanged(selectedClub) {
        d3.json('./alldata').then(data => {
            let club = data.filter(club => club.club === selectedClub) // data.filter creates a new array
            document.getElementById('value').textContent = club[0].market_value
            document.getElementById('points').textContent = club[0].pts
            document.getElementById('ptspergame').textContent = club[0].pts_per_match
            document.getElementById('matches').textContent = club[0].pl
            document.getElementById('won').textContent = club[0].w
            document.getElementById('drawn').textContent = club[0].d
            document.getElementById('lost').textContent = club[0].l
            let clubObject = club[0]
            barChart(clubObject);
        });     
    };


// Creating two bar charts
    function barChart(clubObject) {
    if (!clubObject) {
        // Clear out the bar charts
        Plotly.newPlot('barbar', [], {});
        Plotly.newPlot('barbar2', [], {});
        return;
    }

    console.log(clubObject.club)
    d3.json('./alldata').then(data => {
        let teamData = data.filter(sample => sample.country === clubObject.country)
        let teamArray = teamData[0]
        let league_value = teamData.map(team => Number(team.market_value))
        let league_points = teamData.map(team => Number(team.pts))
        let league_won = teamData.map(team => Number(team.w))
        let valuesum = 0;
        let pointssum = 0;
        let wonsum = 0;
        for (let i=0; i<league_value.length; i++) {
            valuesum += league_value[i];
            pointssum += league_points[i];
            wonsum += league_won[i];                
        }
        let avgvalue = valuesum/league_value.length;
        let avgpoints = pointssum/league_value.length;
        let avgwon = wonsum/league_value.length;

        // Bar 1
        let bardata = [{
            y: [`${clubObject.club}   `, 'League Avg   '],
            x: [clubObject.market_value, avgvalue],
            type: 'bar',
            orientation: 'h',
            marker: {
                color: ['#009879', 'blue']
            }
        }];
        let barlayout = {
            title: 'Club vs. League Market Value',
            font: {
                family: 'Arial',
                size: 14
            },
            yaxis: {
                automargin: true,
            },
            xaxis: {
                title: 'Market Value'
            }
        };
        Plotly.newPlot('barbar', bardata, barlayout);

        // Bar 2
        let bardata2 = [{
            y: [`${clubObject.club}   `, 'League Avg   '],
            x: [clubObject.pts, avgpoints],
            type: 'bar',
            orientation: 'h',
            marker: {
                color: ['#009879', 'blue']
            }
        }];
        let barlayout2 = {
            title: 'Club vs. League Points',
            font: {
                family: 'Arial',
                size: 14
            },
            yaxis: {
                automargin: true,
            },
            xaxis: {
                title: 'Points'
            }
        };
        Plotly.newPlot('barbar2', bardata2, barlayout2);
    });
};  


// Creating a bubble chart
    function bubbleChart(filtered) {
        let x = filtered.map(a => a.pts_per_match);
        let y = filtered.map(a => Number((a.w)/(a.l)).toFixed(2));
        let text = filtered.map(a => a.club + '<br>Market Value: ' + a.market_value);
        let size = filtered.map(a => (a.market_value)/5000000);       
        
        // Assign a different color to each team
        let color = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd', 
                    '#8c564b', '#e377c2', '#7f7f7f', '#bcbd22', '#17becf',
                    '#a9a9a9', '#ff69b4', '#00ff7f', '#ffd700', '#8b008b',
                    '#7cfc00', '#00ffff', '#ffa500', '#dc143c', '#4b0082'];

        let data = [{
            x: x,
            y: y,
            mode: 'markers',
            marker: {
            size: size,
            color: color // Use the color array to assign colors to each team
            },
            text: text
        }];
        
        let layout = {
            title: 'Bubble Chart: Value and Performance',
            font: {
            family: 'Arial',
            size:24
            },
            xaxis: {
            title: 'Average Points Won per Match',
            font: {
                family: 'Arial',
                size: 18
            }
            },
            yaxis: {
            title: 'Win:Loss Ratio',
            font: {
                family: 'Arial',
                size: 18
            }
            }
        };
        
        let config = {
            responsive: true
        };     
        
        Plotly.newPlot('bubble', data, layout, config);
        };
</script>
</body>
</html>